.header {
	color: #5e50ff;
	font-family: Tahoma, Geneva, sans-serif;
	font-style: normal;
	text-align: center;
}

.menu {
	border-radius: 10px;
	border: 1px solid #e4f7de;
	margin: 5px;
	background: #e4f7de;
	width: 20%;
	padding-top: 20px;
	padding-left: 10px;
}
.menu-button {
	margin-bottom: 3px;	
}


.footer {
	color: #000000;
	border-radius: 10px;
	border: 1px solid #dfe7e7;
	margin: 5px;
	background: #dfe7e7;
	text-align: right;
	font-style:italic;
}

html {
	background-color: #FFFFFF;
	color: #007AAB;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
}

.patterns_button_div {
	width: 500px;
	margin:auto;
	width:80%;
}

.patPerBookBarChart {
	width: 400px;
	height: 300px;
	position: relative;
}