.header {
	
}

.navigationMenu {
	
}

.footer {
	
}

body {
	background-color: #DBF5FF;
	color: #007AAB;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
}

.patterns_button_div {
	width: 500px;
}

.patPerBookBarChart {
	width: 400px;
	height: 300px;
	position: relative;
}